<ion-view style="" id="page14" title="Add New Project">
    <ion-content class="has-header" padding="true">
        <form style="" class="list">
            <label style="" name="project_title" class="item item-input">
                <span class="input-label">Project Title</span>
                <input placeholder="" type="text">
            </label>
            <label style="" name="project_description" class="item item-input">
                <span class="input-label">Description</span><textarea placeholder=""> </textarea>
            </label>
            <button class="button button-positive  icon ion-camera" id="addNewProject-button8"></button>
            <a class="button button-positive  button-block" id="addNewProject-button7" ui-sref="mapView">Submit</a>
        </form>
    </ion-content>
</ion-view>