<ion-view style="" id="page6" title="List View">
    <ion-content class="has-header" padding="true">
        <ion-list style="">
            <ion-item style="" ui-sref="project1LandingPage">Solar panels on Baid's building</ion-item>
            <ion-item style="">Project 2</ion-item>
            <ion-item style="">Project 3</ion-item>
            <ion-item style="">Project 4</ion-item>
        </ion-list>
        <a class="button button-positive  button-block icon ion-android-add" id="listView-button6" ui-sref="addNewProject"></a>
    </ion-content>
</ion-view>