<ion-view style="" id="page5" title="Map View">
    <ion-content class="has-header" padding="true">
        <div style="line-height: 250px; background-color: rgb(255, 255, 255); border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center;">
            <i style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;" class="icon ion-image"></i>
        </div>
        <a class="button button-positive  button-block icon ion-android-add" id="mapView-button9" ui-sref="addNewProject"></a>
    </ion-content>
</ion-view>