<ion-view style="" id="page7" title="Project 1 Landing Page">
    <ion-content class="has-header" padding="true">
        <h1 style="color: rgb(91, 85, 85);" id="project1LandingPage-heading1">Solar panels on Baid's building</h1>
        <h4 style="color: rgb(0, 0, 0);" id="project1LandingPage-heading6">by Bahul</h4>
        <div style="text-align: left;">
            <img src="img/mJ8YhO08QJyfek3IT4FV_solar_panels.jpg" height="auto" width="100%">
        </div>
        <div style="width: 287px; height: 27px;" class="spacer"></div>
        <div style="color: rgb(0, 0, 0);" id="project1LandingPage-markdown2">
            <p>I suggest we put solar panels on the roof terrace of Baid's building. I heard we can now sell power we generate back to the grid and make some money for community funds.</p>

            <p>We can even put the panels on stilts and end up with a covered hall. We can even use the powr from the solar panels to air condition the hall.</p>
        </div>
        <div style="" class="button-bar">
            <button class="button button-positive  button-block icon ion-thumbsup" id="project1LandingPage-button3"></button>
            <button class="button button-positive  button-block icon ion-thumbsdown" id="project1LandingPage-button4"></button>
        </div>
        <ion-list style="">
            <ion-item style="" class="item-thumbnail-left">
                <img>
                <h2>Shien</h2>
                <p>I think this is a great idea!</p>
            </ion-item>
            <ion-item style="" class="item-thumbnail-left">
                <img>
                <h2>Streetcat</h2>
                <p>Meow.</p>
            </ion-item>
            <ion-item style="" class="item-thumbnail-left">
                <img>
                <h2>Mike</h2>
                <p>I think you are going to jail.</p>
            </ion-item>
            <label style="" class="item item-input">
                <span class="input-label">Input</span>
                <input placeholder="" type="text">
            </label>
        </ion-list>
        <button class="button button-positive  button-outline" id="project1LandingPage-button1">Send</button>
    </ion-content>
</ion-view>